@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');

// shape sizes
$cord-radius: 50px;

$gamepad-body-width: 1200px;
$gamepad-body-height: 500px;
$gamepad-body-depth: 50px;
$gamepad-body-padding-top: 240px;
$gamepad-body-padding-left: 80px;

$gamepad-face-padding: 50px;
$gamepad-face-padding-top: 80px;

$cord-height: $gamepad-body-padding-top;
$cord-radius: 40px;
$cord-padding-left: 240px;

$button-width: 100px;
$button-height: 100px;
$button-depth: 20px;
$button-depth-active: 5px;
$button-padding-top: 175px;
$button-a-padding-left: 700px;
$button-b-padding-left: 900px;

$dpad-width: 20px;
$dpad-height: 80px;
$dpad-depth: $button-depth;
$dpad-depth-active: $button-depth-active;
$dpad-padding-top: 250px;
$dpad-padding-left: 250px;

$menu-width: 80px;
$menu-height: 20px;
$menu-depth: $button-depth;
$menu-depth-active: $button-depth-active;
$menu-padding-top: 175px;
$menu-start-padding-left: 400px;
$menu-select-padding-left: 600px;

// color theme
$side-grey: #AFA9B5;
$base-grey: #D8D7DC;
$face-grey: #464646;
$fili-grey: #93948F;

$side-red: #982D29;
$base-red: #CE4A43;

$game-sky: #6F7CB1;
$dark: #212121;

#gamepad * {
	position: absolute;
}

.cord {
	// set dimensions first
	width: $cord-radius;
	height: $cord-height;
	// set location
	left: $cord-padding-left + $gamepad-body-padding-left;
	// set colors
	background-color: $dark;
}

.gamepad-body {
	// set dimensions first
	width: $gamepad-body-width;
	height: $gamepad-body-height;
	// set location
	left: $gamepad-body-padding-left;
	top: $gamepad-body-padding-top;
	// set colors
	background-color: $base-grey;
	// this one has children
	position: absolute;
}

.gamepad-face {
	// set dimensions first
	// calculate face dimensions by body plus padding
	width: $gamepad-body-width - (2 * $gamepad-face-padding);
	height: $gamepad-body-height - ($gamepad-face-padding + $gamepad-face-padding-top);
	// set location
	left: $gamepad-face-padding;
	top: $gamepad-face-padding-top;
	// set colors
	background-color: $face-grey;
}

.button {
	// set dimensions first
	width: $button-width;
	height: $button-height;
	// set location
	top: $button-padding-top - $button-depth;
	// set colors
	background-color: $base-red;
}

.button.a {
	// set location
	left: $button-a-padding-left;
}

.button.b {
	left: $button-b-padding-left;
}

.button.depth {
	// set dimensions first
	height: $button-height + $button-depth;
	// set colors
	background-color: $side-red;
}

.menu {
	// set dimensions first
	width: $menu-width;
	height: $menu-height;
	// set location
	top: $menu-padding-top - $menu-depth;
	// left: $menu-start-padding-left;
	// set colors
	background-color: $dark;
}

.menu.start {
	// set location
	left: $menu-start-padding-left;
}

.menu.select {
	// set location
	left: $menu-select-padding-left;
}

.menu.depth {
	// set dimensions first
	height: $menu-height + $menu-depth;
	// set colors
	background-color: black;
}

.dpad {
	// set dimensions first
	width: $dpad-width;
	height: $dpad-height;
	// set colors
	background-color: $dark;
}

.dpad.vert {
	// set dimensions first
	width: $dpad-height;
	height: $dpad-width;
	// set location
	left: $dpad-padding-left + ($dpad-width - $dpad-height) / 2;
	top: $dpad-padding-top - $dpad-depth;
}

.dpad.hori {
	// set dimensions first
	width: $dpad-width;
	height: $dpad-height;
	// set location
	left: $dpad-padding-left;
	top: $dpad-padding-top - $dpad-depth + ($dpad-width  - $dpad-height) / 2;
}

.dpad.depth {
	// set color
	background-color: black;
}

.dpad.vert.depth {
	// set dimensions first
	height: $dpad-width + $dpad-depth;
}

.dpad.hori.depth {
	// set dimensions first
	height: $dpad-height + $dpad-depth;
}


.gamepad-body.depth {
	// set dimensions first
	height: $gamepad-body-height + $gamepad-body-depth;
	// set colors
	background-color: $side-grey;
}

.menu.depth {
	// set dimensions first
	height: $menu-height + $menu-depth;
}

.dpad.depth {
	// set dimensions first
	--dpad-depth-u: $dpad-depth;
	--dpad-depth-d: $dpad-depth;
	--dpad-depth-l: $dpad-depth;
	--dpad-depth-r: $dpad-depth;
	height: $dpad-depth;
}

html,
body {
	padding: 0;
	margin: 0;
	background: $game-sky
}
